@using Microsoft.AspNetCore.Authorization;

@attribute [Authorize(Roles = "Admin,ICBF")]


@page "/icbf"
@using CurrieTechnologies.Razor.SweetAlert2
@inject IRepository repository
@inject SweetAlertService sweetAlertService
@inject NavigationManager navigationManager

<PageTitle>Usuario ICBF</PageTitle>

<div class="card">
    <div class="card-header">
        <span>
            <h1>USUARIO ICBF</h1>
            <a class="btn btn-primary btn-sm float-end" href="/icbf/create"><i class="bi bi-plus-circle" />Nuevo usuario</a>

        </span>
    </div>

    <div class="card-body">

        <GenericList MyList="ICBFs">

            <Body>
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Nombre Entidad</th>
                            <th>Nit</th>
                            <th>Dirección</th>
                            <th>Barrio</th>
                            <th>Telefono</th>
                            <th>Correo electronico</th>



                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in ICBFs!)
                        {
                            <tr>


                                <td>
                                    @item.NombreEntidad
                                </td>
                                <td>
                                    @item.Nit
                                </td>
                                <td>
                                    @item.Direccion
                                </td>
                                <td>
                                    @item.Barrio
                                </td>

                                <td>
                                    @item.Telefono
                                </td>

                                <td>
                                    @item.CorreoElectronico
                                </td>


                                <td>
                                    <a href="/icbf/edit/@item.Id" class="btn btn-sm btn-warning"><i class="bi bi-pencil-square" /> Editar</a>
                                    <button @onclick=@(() => DeleteAsycn(item)) class="btn btn-sm btn-danger"><i class="bi bi-trash-fill" /> Borrar</button>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </Body>
        </GenericList>
    </div>
</div>


@code {
    public List<ICBF> ICBFs { get; set; }


    protected override async Task OnInitializedAsync()
    {
        await LoadAsync();
    }

    private async Task LoadAsync()
    {
        var responseHttp = await repository.GetAsync<List<ICBF>>("api/ICBFs");
        if (responseHttp.Error)
        {
            var message = await responseHttp.GetErrorMessageAsync();
            await sweetAlertService.FireAsync("Error", message, SweetAlertIcon.Error);
            return;
        }
        ICBFs = responseHttp.Response;
    }



    private async Task DeleteAsycn(ICBF ICBFs)
    {
        var result = await sweetAlertService.FireAsync(new SweetAlertOptions
            {
                Title = "Confirmación",
                Text = $"¿Estas seguro de querer borrar el usuario de ICBF: {ICBFs.NombreEntidad}?",
                Icon = SweetAlertIcon.Question,
                ShowCancelButton = true,
            });
        var confirm = string.IsNullOrEmpty(result.Value);
        if (confirm)
        {
            return;
        }

        var responseHttp = await repository.DeleteAsync<Asociacion>($"api/ICBFs/{ICBFs.Id}");
        if (responseHttp.Error)
        {
            if (responseHttp.HttpResponseMessage.StatusCode == System.Net.HttpStatusCode.NotFound)
            {
                navigationManager.NavigateTo("/icbf");
            }
            else
            {
                var mensajeError = await responseHttp.GetErrorMessageAsync();
                await sweetAlertService.FireAsync("Error", mensajeError, SweetAlertIcon.Error);
            }
            return;
        }

        await LoadAsync();
        var toast = sweetAlertService.Mixin(new SweetAlertOptions
            {
                Toast = true,
                Position = SweetAlertPosition.BottomEnd,
                ShowConfirmButton = true,
                Timer = 3000
            });
        await toast.FireAsync(icon: SweetAlertIcon.Success, message: "Registro borrado con éxito.");
    }

}