@inject SweetAlertService swal
@using CurrieTechnologies.Razor.SweetAlert2

<NavigationLock OnBeforeInternalNavigation="OnBeforeInternalNavigation"></NavigationLock>


<EditForm EditContext="editContext" OnValidSubmit="OnValidSubmit">
    <DataAnnotationsValidator />



    <div class="mb-3">
        <label>Nombre Entidad:</label>
        <div>
            <InputText width="10" @bind-Value="ICBFs.NombreEntidad"></InputText>
            <ValidationMessage For="@(() => ICBFs.NombreEntidad)" />
        </div>
    </div>


    <div class="mb-3">
        <label>Nit:</label>
        <div>
            <InputText width="10" @bind-Value="ICBFs.Nit"></InputText>
            <ValidationMessage For="@(() => ICBFs.Nit)" />
        </div>
    </div>


    <div class="mb-3">
        <label>Dirección:</label>
        <div>
            <InputText width="10" @bind-Value="ICBFs.Direccion"></InputText>
            <ValidationMessage For="@(() => ICBFs.Direccion)" />
        </div>
    </div>


    <div class="mb-3">
        <label>Barrio:</label>
        <div>
            <InputText width="10" @bind-Value="ICBFs.Barrio"></InputText>
            <ValidationMessage For="@(() => ICBFs.Barrio)" />
        </div>
    </div>


    <div class="mb-3">
        <label>Telefono:</label>
        <div>
            <InputText width="10" @bind-Value="ICBFs.Telefono"></InputText>
            <ValidationMessage For="@(() => ICBFs.Telefono)" />
        </div>
    </div>


    <div class="mb-3">
        <label>Correo Electronico:</label>
        <div>
            <InputText width="10" @bind-Value="ICBFs.CorreoElectronico"></InputText>
            <ValidationMessage For="@(() => ICBFs.CorreoElectronico)" />
        </div>
    </div>








    <button class="btn btn-primary" type="submit"><i class="bi bi-floppy" />  Guardar Cambios</button>
    <button class="btn btn-info" type="reset"><i class="bi bi-x-circle" />Limpiar</button>
    <button class="btn btn-success" @onclick="ReturnAction"><i class="bi bi-arrow-left" />Regresar</button>
</EditForm>

@code {

    private EditContext editContext = null!;
    protected override void OnInitialized()
    {
        editContext = new(ICBFs);
    }



    [Parameter]
    [EditorRequired]
    public ICBF ICBFs { get; set; } = null!;

    [Parameter]
    [EditorRequired]
    public EventCallback OnValidSubmit { get; set; }


    [EditorRequired]
    [Parameter]
    public EventCallback ReturnAction { get; set; }

    public bool FormularioPosteadoConExito { get; set; } = false;



    private async Task OnBeforeInternalNavigation(LocationChangingContext context)
    {
        var formularioFueEditado = editContext.IsModified();

        if (!formularioFueEditado)
        {
            return;
        }

        if (FormularioPosteadoConExito)
        {
            return;
        }

        var resultado = await swal.FireAsync(new SweetAlertOptions
            {
                Title = "Confirmación",
                Text = "¿Deseas abandonar la página y perder los cambios?",
                Icon = SweetAlertIcon.Warning,
                ShowCancelButton = true
            });

        var confirmado = !string.IsNullOrEmpty(resultado.Value);

        if (confirmado)
        {
            return;
        }

        context.PreventNavigation();
    }
}
